@import "./iconfont.css";

.anticon:before {
  font-family: "anticon", "iconfont" !important;
}

.anticon-liansuojiagong:before {
  font-family: "iconfont" !important;
  content: "\e6c7";
  font-size: 18px;
}

.anticon-zhuyuanhushi:before {
  font-family: "iconfont" !important;
  content: "\e6b7";
  font-size: 18px;
}

.anticon-zhuyuanyisheng:before {
  font-family: "iconfont" !important;
  content: "\e657";
  font-size: 18px;
}

.anticon-hushizhan:before {
  font-family: "iconfont" !important;
  content: "\e627";
  font-size: 18px;
}
.anticon-shoushushi:before {
  font-family: "iconfont" !important;
  content: "\e721";
  font-size: 18px;
}
.anticon-quguangshezhi:before {
  font-family: "iconfont" !important;
  content: "\e626";
  font-size: 18px;
}
.anticon-piaoju:before {
  font-family: "iconfont" !important;
  content: "\e783";
  font-size: 18px;
}
.anticon-document:before {
  font-family: "iconfont" !important;
  content: "\e6f3";
  font-size: 18px;
}
.anticon-jinggao:before {
  font-family: "iconfont" !important;
  content: "\e676";
  font-size: 18px;
}
.anticon-jiaoseliebiao:before {
  font-family: "iconfont" !important;
  content: "\e658";
  font-size: 18px;
}
.anticon-huanzhefuwushezhi:before {
  font-family: "iconfont" !important;
  content: "\e626";
  font-size: 18px;
}
.anticon-weihu:before {
  font-family: "iconfont" !important;
  content: "\e747";
  font-size: 18px;
}
.anticon-suifangguanli1:before {
  font-family: "iconfont" !important;
  content: "\e67a";
  font-size: 18px;
}
.anticon-baogaocaiji:before {
  font-family: "iconfont" !important;
  content: "\e796";
  font-size: 18px;
}

.anticon-chushidaoru:before {
  font-family: "iconfont" !important;
  content: "\e734";
  font-size: 18px;
}

.anticon-yiqi:before {
  font-family: "iconfont" !important;
  content: "\e673";
  font-size: 18px;
}

.anticon-hzfuww:before {
  font-family: "iconfont" !important;
  content: "\e630";
  font-size: 18px;
}

.anticon-fayaoguanli:before {
  font-family: "iconfont" !important;
  content: "\e60e";
  font-size: 18px;
}
.anticon-yaopinguanli:before {
  font-family: "iconfont" !important;
  content: "\e60e";
  font-size: 18px;
}
.anticon-yaopinshuju:before {
  font-family: "iconfont" !important;
  content: "\e60a";
  font-size: 18px;
}
.anticon-zhikong:before {
  font-family: "iconfont" !important;
  content: "\e608";
  font-size: 18px;
}
.anticon-jiagongguanli:before {
  font-family: "iconfont" !important;
  content: "\e66e";
}
.anticon-liansuoguanli:before {
  font-family: "iconfont" !important;
  content: "\e6df";
}
.anticon-xiaoshouguanli:before {
  font-family: "iconfont" !important;
  content: "\e609";
}
.anticon-caigouguanli:before {
  font-family: "iconfont" !important;
  content: "\e629";
}
.anticon-yunying:before {
  font-family: "iconfont" !important;
  content: "\e93e";
}
.anticon-mobanweihu:before {
  font-family: "iconfont" !important;
  content: "\e65c";
}
.anticon-menzhenyujian:before {
  font-family: "iconfont" !important;
  content: "\e65d";
}
.anticon-guahao:before {
  font-family: "iconfont" !important;
  content: "\e64f";
}
.anticon-yihupaiban:before {
  font-family: "iconfont" !important;
  content: "\e64d";
}
.anticon-tishifill:before {
  font-family: "iconfont" !important;
  content: "\e72a";
}
.anticon-zuhuguanli:before {
  font-family: "iconfont" !important;
  content: "\e630";
}
.anticon-exclamation-circle:before {
  font-family: "iconfont" !important;
  content: "\e72c";
}
.anticon-huanzhefuwu1:before {
  font-family: "iconfont" !important;
  content: "\e620";
}
.anticon-huanzhefuwu:before {
  font-family: "iconfont" !important;
  content: "\e61e";
}
.anticon-shezhi1:before {
  font-family: "iconfont" !important;
  content: "\e642";
}
.anticon-quanxian:before {
  font-family: "iconfont" !important;
  content: "\e643";
}
.anticon-right::before {
  font-family: "iconfont" !important;
  content: "\e600";
}
.anticon-left::before {
  font-family: "iconfont" !important;
  content: "\e6f4";
}
.anticon-chakan::before {
  font-family: "iconfont" !important;
  content: "\e669";
}
.anticon-shanchu1::before {
  font-family: "iconfont" !important;
  content: "\e664";
}
.anticon-shangsheng::before {
  font-family: "iconfont" !important;
  content: "\e631";
}
.anticon-xiajiang::before {
  font-family: "iconfont" !important;
  content: "\e632";
}
.anticon-ziyuan::before {
  font-family: "iconfont" !important;
  content: "\e61c";
}
.anticon-jiageguanli::before {
  font-family: "iconfont" !important;
  content: "\e683";
}
.anticon-kucunguanli::before {
  font-family: "iconfont" !important;
  content: "\e6e4";
}
.anticon-xiugai::before {
  font-family: "iconfont" !important;
  content: "\e638";
}
.anticon-huanzhe::before {
  font-family: "iconfont" !important;
  content: "\e62d";
}
.anticon-mingxi::before {
  font-family: "iconfont" !important;
  content: "\e766";
}
.anticon-sun::before {
  font-family: "iconfont" !important;
  content: "\e66f";
}
.anticon-cost::before {
  font-family: "iconfont" !important;
  content: "\e68d";
}
.anticon-charge::before {
  font-family: "iconfont" !important;
  content: '\e606';
}
.anticon-chaxuntongji::before {
  font-family: "iconfont" !important;
  content: '\e670';
}
.anticon-jinggao1::before {
  font-family: "iconfont" !important;
  content: '\e674';
}
.anticon-weixin:before {
  font-family: "iconfont" !important;
  content: "\e614";
}
.anticon-jiahao2fill:before {
  font-family: "iconfont" !important;
  content: "\e728";
}
.anticon-jiahao:before {
  font-family: "iconfont" !important;
  content: "\e726";
}
.anticon-guanbi:before {
  font-family: "iconfont" !important;
  content: "\e624";
}
.anticon-dengji:before {
  font-family: "iconfont" !important;
  content: "\e6c0";
}
.anticon-zhuyuanshezhi:before {
  font-family: "iconfont" !important;
  content: "\e693"
}
.anticon-ruyuanguanli:before {
  font-family: "iconfont" !important;
  content: "\e693"
}
.anticon-chuyuanguanli:before {
  font-family: "iconfont" !important;
  content: "\e688"
}
.anticon-yujiaojinguanli:before {
  font-family: "iconfont" !important;
  content: "\e6a4";
}
.anticon-yuzhuyuandanchaxun:before {
  font-family: "iconfont" !important;
  content: "\e689";
}
.anticon-icon-jiazaizhong:before {
  font-family: "iconfont" !important;
  content: "\e6ab";
}
.anticon-triage:before {
  font-family: "iconfont" !important;
  content: "\e6c0";
}
.anticon-referral:before {
  font-family: "iconfont" !important;
  content: "\e69a";
}
.anticon-zong:before {
  font-family: "iconfont" !important;
  content: "\e6a3";
}
.anticon-yunyingshujuicon:before {
  font-family: "iconfont" !important;
  content: "\e6ad";
}
.anticon-jinqiyunyingshuju:before {
  font-family: "iconfont" !important;
  content: "\e6a9";
}
.anticon-hexinyunyingshuju:before {
  font-family: "iconfont" !important;
  content: "\e6aa";
}
.anticon-yunyingguanli_fuwufenzuguanli:before {
  font-family: "iconfont" !important;
  content: "\e6a2";
}
.anticon-jsfksz:before {
  font-family: "iconfont" !important;
  content: "\e6b2";
}
.anticon-yunyingshuju1:before {
  font-family: "iconfont" !important;
  content: "\e6ac";
}
.anticon-shoushuguidang:before {
  font-family: "iconfont" !important;
  content: "\e6ba";
  font-size: 18px;
}
.anticon-jixiaoguanli:before {
  font-family: "iconfont" !important;
  content: "\e6bf";
}

.anticon-icon-juecefenxi:before {
  font-family: "iconfont" !important;
  content: "\e6c2";
}

.anticon-icon-qiandaotai:before {
  font-family: "iconfont" !important;
  content: "\e6bb";
}

.anticon-icon-shixunzhongxin:before {
  font-family: "iconfont" !important;
  content: "\e6bd";
}

.anticon-icon-shijuexunlianshezhi:before {
  font-family: "iconfont" !important;
  content: "\e6be";
}
.anticon-shouhouguanli:before {
  font-family: "iconfont" !important;
  content: "\e6cc";
}
.anticon-gongzuoliangtongji:before {
  font-family: "iconfont" !important;
  content: "\e6c9";
}
.anticon-jia:before {
  font-family: "iconfont" !important;
  content: "\e6c7";
}
.anticon-qiandaoqiantui:before {
  font-family: "iconfont" !important;
  content: "\e6d6";
}
.anticon-yibaoyewuduizhang:before {
  font-family: "iconfont" !important;
  content: "\e6d8";
}
.anticon-yibaomuluduizhao:before {
  font-family: "iconfont" !important;
  content: "\e6d7";
}
.anticon-zhuyuanshoufeiguanli:before {
  font-family: "iconfont" !important;
  content: "\e6cd";
}
.anticon-zhuyuanyaofangsvg:before {
  font-family: "iconfont" !important;
  content: "\e6dc";
}
.anticon-jian1:before {
  font-family: "iconfont" !important;
  content: "\e6d5";
}
.anticon-jigouguanli:before {
  font-family: "iconfont" !important;
  content: "\e6c6";
}
.anticon-huiyuanguanli:before {
  font-family: "iconfont" !important;
  content: "\e6dd";
}
.anticon-qiandaoqiantui:before {
  font-family: "iconfont" !important;
  content: "\e6d6";
}
.anticon-tui:before {
  font-family: "iconfont" !important;
  content: "\e6de";
}
.anticon-yibaoyewuduizhang:before {
  font-family: "iconfont" !important;
  content: "\e6d8";
}
.anticon-yibaomuluduizhao:before {
  font-family: "iconfont" !important;
  content: "\e6d7";
}
.anticon-zhuyuanshoufeiguanli:before {
  font-family: "iconfont" !important;
  content: "\e6cd";
}
.anticon-huiyuanshezhi:before {
  font-family: "iconfont" !important;
  content: "\e6e1";
}
.anticon-yingxiaoguanli:before {
  font-family: "iconfont" !important;
  content: "\e6e3";
}
