
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button.button-defaul {
  position: absolute;
  z-index: 99;
  /* display: none; */
}
.copy-table {
  position: relative;
}
.toast-container {
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
  background: #000;
  opacity: .5;
  color: #fff;
  transition: opacity 2s;
  -moz-transition: opacity 2s;	/* Firefox 4 */
  -webkit-transition: opacity 2s;	/* Safari 和 Chrome */
  -o-transition: opacity 2s;	/* Opera */
}
.toast-container-none {
  opacity: 0;
}

a.arrow-alide {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500
}